---
import Base from "../layouts/Base.astro";
import Navigation from "../components/Navigation.astro";
import SocialLink from "../components/SocialLink.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import SkillIcon from "../components/SkillIcon.astro";
import Projects from "../components/Projects.astro";
import Project from "../components/Project.astro";

import ImgNotesApp from "../assets/projects/notes-app.png";
import ImgShoppingApp from "../assets/projects/shopping-app.png";
---

<style is:global>
  img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
  }

  ul#JavaScript li::before {
    content: url(/assets/square-js-brands.svg);
    display: block;
    width: 20px;
    height: 20px;
  }

  ul#React li::before {
    content: url(/assets/react-brands.svg);
    display: block;
    width: 20px;
    height: 20px;
  }

  ul#Vue li::before {
    content: url(/assets/vuejs-brands.svg);
    display: block;
    width: 20px;
    height: 20px;
  }
</style>

<Base>
  <Navigation title="KUNAL SHARMA">
    <SocialLink
      linkTo="Github"
      link="github.com/iKSM09"
      linkIcon="fa-brands:github-square"
    />
    <SocialLink
      linkTo="Linkedin"
      link="linkedin.com/in/iksm09/"
      linkIcon="fa-brands:linkedin"
    />
    <li>
      <a
        class="bg-slate-600 px-4 py-1 rounded-full hover:text-cyan-400"
        href="https://drive.google.com/file/d/17nX3QI2wHRJxqB4FU4uyl_qHtjerlExy/view?usp=sharing"
        target="_blank">Resume</a
      >
    </li>
  </Navigation>

  <Hero />

  <Skills header="Skills I know:">
    <SkillIcon name="HTML" icon="logos:html-5" />
    <SkillIcon name="CSS" icon="logos:css-3" />
    <SkillIcon name="Sass" icon="logos:sass" />
    <SkillIcon name="Tailwind" icon="logos:tailwindcss-icon" />
    <SkillIcon name="Bootstrap" icon="logos:bootstrap" />
    <SkillIcon name="Figma" icon="logos:figma" />
    <SkillIcon name="JavaScript" icon="logos:javascript" />
    <SkillIcon name="TypeScript" icon="logos:typescript-icon" />
    <SkillIcon name="React" icon="logos:react" />
    <SkillIcon name="Vue" icon="logos:vue" />
  </Skills>

  <Projects>
    <Project
      name="Notes App"
      description="A simple note taking app with to-do list made with react."
      image={ImgNotesApp}
      url="https://iksm09-react-notes.netlify.app/"
      techStack="React"
      madeWith={["React", "React Router", "React Icons", "Styled Componenets"]}
    />
    <Project
      name="Shopping Website"
      description="A simple shopping cart webpage made with react."
      image={ImgShoppingApp}
      url="https://luxury-clafoutis-302815.netlify.app/"
      techStack="React"
      madeWith={["React", "React Router", "React Icons", "Styled Componenets"]}
    />
  </Projects>
</Base>
