---
import Base from "../layouts/Base.astro";
import Navigation from "../components/Navigation.astro";
import SocialLink from "../components/SocialLink.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import SkillIcon from "../components/SkillIcon.astro";
import Projects from "../components/Projects.astro";
import Project from "../components/Project.astro";

import ImgNotesApp from "../assets/projects/notes-app.png";
import ImgShoppingApp from "../assets/projects/shopping-app.png";
import ImgYourStyle from "../assets/projects/yourStyle-app.png";
---

<style is:global>
  img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
  }

  ul#JavaScript li::before {
    content: url(/assets/square-js-brands.svg);
    display: block;
    width: 20px;
    height: 20px;
  }

  ul#TypeScript li::before {
    content: url(/assets/square-ts-brands.svg);
    display: block;
    width: 20px;
    height: 20px;
  }

  ul#React li::before {
    content: url(/assets/react-brands.svg);
    display: block;
    width: 20px;
    height: 20px;
  }

  ul#Vue li::before {
    content: url(/assets/vuejs-brands.svg);
    display: block;
    width: 20px;
    height: 20px;
  }
</style>

<Base>
  <Navigation title="KUNAL SHARMA">
    <li class="hidden md:block">
      <SocialLink
        linkTo="Github"
        link="github.com/iKSM09"
        linkIcon="fa-brands:github-square"
      />
    </li>
    <li class="hidden md:block">
      <SocialLink
        linkTo="Linkedin"
        link="linkedin.com/in/iksm09/"
        linkIcon="fa-brands:linkedin"
      />
    </li>
    <li>
      <a
        class="bg-slate-600 px-4 py-1 rounded-full hover:text-cyan-400"
        href="https://drive.google.com/file/d/1hMSGmdfDY7zZ5OTAV56g_Fl9TJ2wfoay/view?usp=sharing"
        target="_blank">Resume</a
      >
    </li>
  </Navigation>

  <Hero />

  <Skills header="Skills I know:">
    <SkillIcon name="Figma" icon="logos:figma" />
    <SkillIcon name="HTML" icon="logos:html-5" />
    <SkillIcon name="CSS" icon="logos:css-3" />
    <SkillIcon name="PostCSS" icon="logos:postcss" />
    <!-- <SkillIcon name="Sass" icon="logos:sass" /> -->
    <SkillIcon name="Tailwind" icon="logos:tailwindcss-icon" />
    <!-- <SkillIcon name="Bootstrap" icon="logos:bootstrap" /> -->
    <SkillIcon name="JavaScript" icon="logos:javascript" />
    <SkillIcon name="TypeScript" icon="logos:typescript-icon" />
    <SkillIcon name="React" icon="logos:react" />
    <SkillIcon name="Next.js" icon="file-icons:nextjs" />
    <!-- <SkillIcon name="Vue" icon="logos:vue" /> -->
    <SkillIcon name="Node.js" icon="logos:nodejs-icon" />
  </Skills>

  <Projects>
    <Project
      name="Notes App"
      description="A simple note taking app with to-do list made with react."
      image={ImgNotesApp}
      url="https://iksm09-react-notes.netlify.app/"
      githubLink="react-notes"
      techStack="React"
      madeWith={[
        { "React.js": "https://react.dev/" },
        { "React Router": "https://reactrouter.com/en/main" },
        { "React Icons": "https://react-icons.github.io/react-icons/" },
        { "Styled Components": "https://styled-components.com/" },
      ]}
    />
    <Project
      name="Shopping Website"
      description="A simple shopping cart webpage made with react."
      image={ImgShoppingApp}
      url="https://luxury-clafoutis-302815.netlify.app/"
      githubLink="crwn-clothing"
      techStack="React"
      madeWith={[
        { "React.js": "https://react.dev/" },
        { "React Router": "https://reactrouter.com/en/main" },
        { "React Icons": "https://react-icons.github.io/react-icons/" },
        { "Styled Components": "https://styled-components.com/" },
      ]}
    />
    <Project
      name="Your Style App (WIP)"
      description="An experiment to combine an e-commerce website with social media features."
      image={ImgYourStyle}
      url="https://your-style.netlify.app/"
      githubLink="your-style-react"
      techStack="React"
      madeWith={[
        { "React.js": "https://react.dev/" },
        { TypeScript: "https://www.typescriptlang.org/" },
        { "React Icons": "https://react-icons.github.io/react-icons/" },
        { "Styled Components": "https://styled-components.com/" },
        { "TanStack Router": "https://tanstack.com/router/v1" },
        { "TanStack Query": "https://tanstack.com/query/latest" },
        { Firebase: "https://firebase.google.com/" },
      ]}
    />
  </Projects>
</Base>
