---
import SocialLink from "../components/SocialLink.astro";

import Avatar from "../assets/avatar.svg";
---

<section id="about" class="mx-auto max-w-screen-lg px-3 py-6">
  <div
    class="flex flex-col items-center md:flex-row md:justify-between md:gap-x-24"
  >
    <div>
      <h1 class="text-3xl font-bold">
        Hi there, I'm <span
          class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
          >Kunal</span
        > 👋
      </h1>
      <p class="mt-5 text-xl leading-8">
        I am a front-end developer with experience in UI/UX design for both web
        and mobile. I am proficient in designing, wireframing, and prototyping
        to developing using HTML, CSS, and JavaScript, and currently pursuing
        React and TypeScript to add to my skills. I am passionate about creating
        user-friendly websites and web applications that are easy to use. I have
        a keen eye for detail and I am always willing to learn new skills and
        technologies.
        <a class="text-cyan-400 hover:underline" href="/"></a>
      </p>
      <ul class="mt-5 flex gap-x-5 justify-center md:justify-start">
        <li class="hidden md:block"><p>Connect with me:</p></li>
        <SocialLink
          linkTo="Github"
          link="github.com/iKSM09"
          linkIcon="fa-brands:github-square"
        />
        <SocialLink
          linkTo="Linkedin"
          link="linkedin.com/in/iksm09/"
          linkIcon="fa-brands:linkedin"
        />
      </ul>
    </div>
    <div class="shrink-0">
      <img
        class="h-80 w-full hidden md:block"
        src={Avatar}
        alt="Avatar image"
      />
    </div>
  </div>
</section>
