<section id="projects" class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="flex items-baseline justify-between">
    <h2 class="mb-6 text-2xl font-bold">Recent <span>Projects</span></h2>
    <p class="text-sm">
      <a href="https://github.com/iKSM09" target="_blank">View all Projects →</a
      >
    </p>
  </div>
  <slot />
</section>
