---
import { Icon } from "astro-icon";

const { link, linkIcon, linkTo } = Astro.props;
---

<span class="hover:text-white">
  <a
    class="flex gap-2 items-center justify-center"
    href={`https://${link}`}
    target="_blank"
  >
    <Icon class="w-6 h-6" name={linkIcon} />
    <p>{linkTo}</p>
  </a>
</span>
