---
import Base from "../../layouts/Base.astro";

import Image from "../../components/Image.astro";

import { dgnProjectList } from "../../data/data";

export function getStaticPaths() {
  return [
    { params: { project: "buzz09" } },
    { params: { project: "jetsave" } },
    { params: { project: "brandnama" } },
    { params: { project: "harley-pathlabs" } },
    { params: { project: "haxar-insurance" } },
  ];
}

const { project } = Astro.params;
const data = dgnProjectList.filter((proj) => proj.path === project)[0];
---

<Base>
  <section class="mx-auto max-w-screen-lg px-3 py-6">
    <p class="text-center text-slate-500 font-bold">
      Page Under Construction 🚧
    </p>
  </section>
  <section class="mx-auto max-w-screen-lg px-3 py-6">
    <h1 class="text-center text-4xl font-bold m-4">{data?.name}</h1>
    <div class="aspect-square mx-8">
      <Image name={data?.name} image={data?.image} url={data?.url} />
    </div>
  </section>
</Base>
